img{
    max-width: 5rem;
  }
  
  header{
    padding: 5px;
    background-color:#005151;
  }

  ion-button{
    --background: #005151;
  }

ion-content{
    padding-left: 10px;
}

#container{
    padding-left: 1rem;
}