img{
    max-width: 5rem;
    margin-left: 1rem;
  }
  
  header{
    padding: 5px;
    background-color:#005151;
  }

  ion-button{
    --background: #0176B2;
  }

ion-content{
    padding-left: 10px;
}

ion-footer{
  padding: 1.5rem;
}

#container{
    padding-left: 1rem;
}

app-game{
  padding: 1.5rem;
}

ion-title{
  padding: 1rem;
}
