<app-splash-screen [animationType]="'slide-left'"
[duration]="2"
[animationDuration]="0.5"></app-splash-screen>
<ion-header>
  <header>
    <img src="../../assets/icons/UKG-logo-white.png">
  </header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Registro de usuario</ion-title>
    <div style="color: grey; text-align: center; margin-top: 2px;">*Todos los campos son obligatorios</div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="playerForm" (ngSubmit)="formSubmit()">
    <ion-item lines="full">
      <ion-label position="floating">Nombre:</ion-label>
      <ion-input formControlName="name" type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Apellido:</ion-label>
      <ion-input formControlName="lastName" type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Correo:</ion-label>
      <ion-input formControlName="email" type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Teléfono:</ion-label>
      <ion-input formControlName="mobile" type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Carrera universitaria:</ion-label>
      <ion-input formControlName="carreer" type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Semestre en curso:</ion-label>
      <ion-input formControlName="semester" type="number" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label >Estás trabajando?</ion-label>
      <ion-toggle item-start formControlName="isWorking"  color="success" [checked]="true" type="boolean"></ion-toggle>
    </ion-item>
  </form>
</ion-content>
<ion-footer>
  <ion-button type="submit" color="primary" expand="block">Continuar</ion-button>
</ion-footer>
<div
  class="app-splash-screen"
  [ngStyle]="{ 
    left: windowWidth, 
    opacity: opacityChange,
    transition: splashTransition
  }"
  *ngIf="showSplash"
>
  <div class="app-splash-inner">
    <div class="app-logo"></div>
    <div class="app-label"></div>
    <div class="app-loader"></div>
  </div>
</div>