<app-splash-screen [animationType]="'slide-left'"
[duration]="2"
[animationDuration]="0.5"></app-splash-screen>
<ion-header>
  <header>
    <img src="../../assets/icons/UKG-logo-white.png">
  </header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Registro de usuario</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="playerForm" (ngSubmit)="formSubmit()">
    <div>
    <ion-item lines="full">
      <ion-label position="floating">Nombre:</ion-label>
      <ion-input formControlName="name" type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Apellido:</ion-label>
      <ion-input formControlName="lastName" type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Correo:</ion-label>
      <ion-input formControlName="email" type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Teléfono:</ion-label>
      <ion-input formControlName="mobile" type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-checkbox slot="start" formControlName="acceptsConditions" required></ion-checkbox>
        <ion-item class="item-text-wrap">
          Acepto : 
          De conformidad con la Ley N° 18.331, de Protección de Datos Personales y
        Acción de Habeas Data, de 11 de agosto de 2008 (LPDP), los datos
        suministrados los días 24 y 25 de Marzo quedaran incorporados en la Base de
        Datos UKG Uruguay, la cual será procesada exclusivamente para la finalidad
        posibles contrataciones de personal propio. Esos datos se recogerán a través de medios legítimos y sólo serán los imprescindibles para poder realizar futuras contrataciones.
        Los datos personales serán tratados con el grado de protección adecuado, tomándose las
        medidas de seguridad necesarias para evitar su alteración, pérdida, tratamiento
        o acceso no autorizado por parte de terceros.
        </ion-item>
    </ion-item>
  </div>
    <ion-button type="submit" expand="block">Continuar</ion-button>
  </form>
</ion-content>
<div
  class="app-splash-screen"
  [ngStyle]="{ 
    left: windowWidth, 
    opacity: opacityChange,
    transition: splashTransition
  }"
  *ngIf="showSplash"
>
  <div class="app-splash-inner">
    <div class="app-logo"></div>
    <div class="app-label"></div>
    <div class="app-loader"></div>
  </div>
</div>